<p id="notice"><%= notice %></p>

<p>
  <strong>A positive:</strong>
  <%= @bgroup.a_positive %>
</p>

<p>
  <strong>B positive:</strong>
  <%= @bgroup.b_positive %>
</p>

<p>
  <strong>O positive:</strong>
  <%= @bgroup.o_positive %>
</p>

<p>
  <strong>Ab positive:</strong>
  <%= @bgroup.ab_positive %>
</p>

<p>
  <strong>A negative:</strong>
  <%= @bgroup.a_negative %>
</p>

<p>
  <strong>B negative:</strong>
  <%= @bgroup.b_negative %>
</p>

<p>
  <strong>O negative:</strong>
  <%= @bgroup.o_negative %>
</p>

<p>
  <strong>Ab negative:</strong>
  <%= @bgroup.ab_negative %>
</p>

<p>
  <strong>Center:</strong>
  <%= @bgroup.center %>
</p>

<%= link_to 'Edit', edit_bgroup_path(@bgroup) %> |
<%= link_to 'Back', bgroups_path %>
