<p id="notice"><%= notice %></p>

<h1>Listing Branch Managers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branch_managers.each do |branch_manager| %>
      <tr>
        <td><%= branch_manager.name %></td>
        <td><%= link_to 'Show', branch_manager %></td>
        <td><%= link_to 'Edit', edit_branch_manager_path(branch_manager) %></td>
        <td><%= link_to 'Destroy', branch_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branch manager', new_branch_manager_path %>
